@font-face {
  font-family: 'JamacianFont';
  src: url(fonts/Jamacian.ttf);
}
html {
    height: 100%;
    width: 100%;
  }
  
  .rounded{
    justify-content: center;
    align-content: center;
  }


  .desc{
    color:white;
  }

  .goldbar {
    border: solid #498e04 1px;
    height: 0px;
    width: 120px;
    margin-bottom: 10px;
  }

  .goldbar.options {
    border:  solid #498e04 1px;
    height: 0px;
    width: 150px;
    margin-bottom: 10px;
  }

  .goldbar.cuisines {
    border:  solid #498e04 1px;
    height: 0px;
    width: 80px;
    margin-bottom: 10px;
  }

  .goldbar.hours {
    border:  solid #498e04 1px;
    height: 0px;
    width: 160px;
    margin-bottom: 10px;
  }

  .hover {
    transition: all 0.3s;
}

.hover:hover {
    transform: scale(1.15);
}

  h1 {
    font-family: 'JamacianFont', sans-serif;
  }
  








  #my-image.img-thumbnail {
    background-color: #498e04;
 }

  #island {
    margin: 0 0 0 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('https://menufyproduction.imgix.net:443/637336385318864735+263972.png?blendMode=normal&blend=87000000&auto=compress,format&fit=max&w=1024&h=1024');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  #spices {
    margin: 0 0 0 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('images/season.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
  }

  

 